# Кэш инструментов тестирования и статического анализа
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Результаты сборки и отчеты о покрытии кода
dist/
htmlcov/
.coverage

# Кэш компиляции Python
**/__pycache__/
*.pyc

# Метаданные сборки проекта
*.egg-info/